<article class="promptbox center">
    <h1>Your Color Palet</h1>

<section class="color-wrap">
    <p>Primary: {{primary}}</p>
    <figure class="colorbox" id="primary" [ngStyle]="{ background: primary}">
    </figure>
</section>

<section class="color-wrap">
    <p>Second: {{second}}</p>
    <figure class="colorbox" id="second" [ngStyle]="{ background: second}">
    </figure>
</section>

<section class="color-wrap">
    <p>Accent: {{accent}}</p>
    <figure class="colorbox" id="accent" [ngStyle]="{ background: accent}">
    </figure>
</section>

</article>
