.center {
    display: flex;
    flex-direction: row;
}

.color-wrap {
    margin: 1rem;
}
.colorbox {
    width: 120px;
    height: 120px;
    display: grid;
    justify-content: center;
    margin: 0 .5rem;
}

h1 {
    margin: auto .5rem
}

p {
    font-weight: bold;
    text-transform: uppercase;
    margin: .2rem;
}