<main class="wrap">
  <figure><img src="assets/img/dpglogo.png" alt=""></figure>
  <section id="btn-section">
    <button type="button" class="btn btn-primary" (click)="onShowRandomIdea()">Random Idea</button>
    <button type="button" class="btn btn-danger" (click)="onShowColorPalet()">Random Color Palet</button>
    <button type="button" class="btn btn-warning" (click)="onShowMysteryPrompt()"><fa-icon [icon]="faQuestion"></fa-icon></button>
  </section>
  <section id="prompt-boxes">
  <app-idea-prompt *ngIf="showRandomIdea"></app-idea-prompt>
  <app-color-prompt *ngIf="showColorPalet"></app-color-prompt>
  <app-mystery-prompt *ngIf="showMysteryPrompt"></app-mystery-prompt>
</section>
  <app-footer class="footer"></app-footer>
</main>
